#buttonClass {
  display: inline-block;
  background-color: #ffebee;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  animation: scale 10s ease-in 1 backwards;
}

@keyframes scale {
  0% {
    background-color: #fff;
    transform: scale(0);
  }
  100% {
    background-color: #f00;
    transform: scale(10);
  }
}
